$main-color: #01a14b;
$second-color: #009234;
$white-color: #ffffff;
$grey-color: #f7f7f9;
$text-color-black-1: #000000;
$text-color-black-2: #333333;
$text-color-black-3: #555555;
$text-color-black-4: #777777;